<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="docker-for-windows" />
    <package id="chocolateygui" />
    <package id="awscli" />
    <package id="awstools.powershell" />
    <package id="awssdk-tools" />
    <package id="curl" />
    <package id="sourcetree" />
    <package id="visualstudiocode" />
    <package id="azurestorageexplorer" />
    <package id="webpi" />
    <package id="jre8" />
    <package id="python3" />
    <package id="pip" />
    <package id="nodejs.install" />
    <package id="php" />
    <package id="git" />
    <package id="7zip.install" />
    <package id="googlechrome" />
    <package id="firefox" /> 
    <package id="steam" />
    <package id="line" />
    <package id="slack" />
    <package id="skype" />
    <package id="dropbox" />
    <package id="itunes" />
    <package id="vlc" />
    <package id="handbrake" />
    <package id="googlejapaneseinput" />
    <package id="unity" />
    <package id="arduino" />
    <package id="sql-server-management-studio" />
    <package id="visualstudio2015enterprise" />
    <package id="windowsazurepowershell" />
    <package id="winscp" />    
</packages>
